html{
    background-color: pink;
    background-image: url(https://i.kym-cdn.com/news_feeds/icons/mobile/000/035/914/6d3.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
}
footer
{
    font-size: 100px;
    text-align: center;
    bottom: 5px;
}