html
{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-image: url("WebsiteBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:auto;
    max-width: 100%;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Content {
    background: rgba(89, 2, 2, 0.95);
    border: 10px solid #333;
    padding: 20px !important;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#Introduction
{
    
    text-align: center;
    color: #bdbdbd;
}
header
{ 
    font-size: 24px;
    color: white;
}
body > .sidePanel
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sidePanel
{
    position: absolute;
    width: 60px;
    height: 100vh;
    background: #333;
    overflow: hidden;
    transition: 0.75s; /*0.75 or 0.25*/
}
.sidePanel:hover
{
    width: 200px;
    .text
    {
        color: #ffffffe1;
        transition: 0.75s;
    }
}
.sidePanel ul
{
    position: relative;
    height: 100vh;
    padding: 10px;
}
.sidePanel ul li:hover
{
    background-color: grey;
    cursor: pointer;
}
.sidePanel ul li
{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
    list-style: none;
}
.sidePanel ul li .icon
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 60px;
    font-size: 1.5em;
    color: #ffffffe1;
}
.sidePanel ul li .text
{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    transition: 0.75s;
}
.sidePanel:hover html
{
    background-color: #333;
}
