html{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-image: url("WebsiteBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:auto;
    max-width: 100%;
}
.Content{
    background: rgba(89, 2, 2, 0.95);
    border: 10px solid #333;
    padding: 20px; 
    max-width: 500px;
}
.ContactInfo
{
    color:pink;
}
header
{
    margin-top: 0%;  
    font-size: 24px;
    color: white;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #bdbdbd;
}
